* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: white url("background.jpg") no-repeat fixed center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  background: rgba(255,255,255,0.6);
  position: relative;
}

text {
  stroke-width: 5px;
  stroke-dasharray: 900;
  stroke-dashoffset: -900;
  animation: text 4s forwards 1;
  animation-delay: 1s;
}

.underline {
  stroke-dasharray: 900;
  stroke-dashoffset: 900;
  animation: underline 4s forwards 1;
  animation-delay: 5s;
}

@keyframes text {
  75% {
    fill: transparent;
    stroke-dashoffset: 0;
    stroke-width: 5px;
  }
  100% {
    fill: #000;
    stroke-dashoffset: 0;
    stroke-width: 0;
  }
}

@keyframes underline {
  75% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
